<!doctype html>
<html lang="en">

<head>
<STYLE TYPE="text/css">
BODY {
  font-family    : arial, sans-serif;
}
td, th {
  padding: 0 10px;
  text-align     : left;
}
</STYLE>
</head>

<body>

<div>
    <h3> Intra-observer Dice Coefficients </h3>
    <table>
        {% for img in intra_dice_imgs %}
            <tr>
                <td> <img src="{{ img.href }}"></img> </td>
                <td>{{ img.label }}</td>
                <td>{{ img.observer }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>