<!doctype html>
<html lang="en">

<head>
<STYLE TYPE="text/css">
BODY {
  font-family    : arial, sans-serif;
}
td, th {
  padding: 0 10px;
  text-align     : left;
}
</STYLE>
</head>

<body>

<h1 style="background-color:#E0E0FF">Observer Labeling Report</h1>

<div>
    <h3> Labeling Information </h3>
    <table>
        <tr><td> Number of Observers </td><td> {{ n_obs }} </td></tr>
        <tr><td> Number of Templates </td><td> {{ n_tmp }} </td></tr>
    </table>
</div>

<div>
    <h3> Maximum Probability Projection </h3>
    <table>
        <tr>
            <td> <img src={{ mpp_image }} /> </td>
        </tr>
    </table>
</div>

<div>
    <h3> Observer Reports </h3>
    <table>
        {% for o in observers %}
            <tr><td> <a href="{{ o.href }}">{{ o.caption }}</a> </td></tr>
        {% endfor %}
    </table>
</div>

<div>
    <h3> Label Reports </h3>
    <table>
        {% for l in labels %}
            <tr><td> <a href="{{ l.href }}">{{ l.caption }}</a> </td></tr>
        {% endfor %}
    </table>
</div>

</body>