<!doctype html>
<html lang="en">

<head>
<STYLE TYPE="text/css">
BODY {
  font-family    : arial, sans-serif;
}
td, th {
  padding: 0 10px;
  text-align     : left;
}
</STYLE>
</head>

<body>

<h1 style="background-color:#E0E0FF">Observer {{ observer }} >> </h1>

<div>
    <h3> Inter-template Similarity </h3>
    <table>
        <tr><td> Dice Coefficient </td><td> Hausdorff Distance </td></tr>
        <tr><td> <img href="{{ dice_img }}" </td><td> <img href="{{ hauss_img }}" </td></tr>
    </table>
</div>

</body>