<!doctype html>
<html lang="en">

<head>
<STYLE TYPE="text/css">
BODY {
  font-family    : arial, sans-serif;
}
td, th {
  padding: 0 10px;
  text-align: left;
}
</STYLE>
</head>

<body>

<h1 style="background-color:#E0E0FF">Labeling Similarity Report</h1>

<div>
    <h3>Maximum Probability Projections</h3>
    <img src="{{ mpp_fname }}">
</div>

<div>

    {% for obs in observers %}

        <h3> Observer {{ obs.obs_no }}</h3>
        <table>

            <tr>
                <td>MPP</td>
                <td>Name</td>
                <td>Number</td>
                <td>Mean Intra Dice</td>
                <td>Mean Intra Hausdorff</td>
                <td>Mean Inter Dice</td>
                <td>Mean Inter Hausdorff</td>
                <td>Unfinished Templates</td>
            </tr>

            {% for tmp in obs.templates %}
                <tr>
                    <td>MPP</td>
                    <td>Label Name</td>
                    <td>Label Number</td>
                    <td>Mean Intra Dice</td>
                    <td>Mean Intra Hausdorff</td>
                    <td>Mean Inter Dice</td>
                    <td>Mean Inter Hausdorff</td>
                    <td>Unfinished Templates</td>
                </tr>
            {% endfor %}

        </table>

    {% endfor %}

</div>

<div>
    <h3> Within-observer Similarities </h3>
    <a href="intra_report.html">Within-observer report</a>
</div>

<div>
    <h3> Between-observer Similarities </h3>
    <a href="inter_report.html">Between-observer report</a>
</div>


</body>