<!doctype html>
<html lang="en">

<head>
<STYLE TYPE="text/css">
BODY {
  font-family    : arial, sans-serif;
}
td, th {
  padding: 10px 0px 0px 10px;
  text-align: left;
}
</STYLE>
</head>

<body>

<h1 style="background-color:#E0E0FF">Observer {{ obs }} Label Report</h1>

<div>
    <a href="index.html">Return to summary page</a>
</div>

<div>
    <h3>Mean Labels</h3>
    <img src="{{ montage_fname }}">
</div>

<div>
    <h3>Similarity Matrices</h3>
    <table>
        <tr>
            <td> <img src="{{ dice_fname }}"></img> </td>
            <td> <img src="{{ haus_fname }}"></img> </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                Within-observer Dice coefficient and Hausdorff distance matrices for each atlas label.<br>
                The matrix rows and columns represent the first and second templates in a pairwise comparison.
            </td>
        </tr>
    </table>
</div>

<div>
    <h3>Labeling Summary</h3>
    <table>
        <tr>
            <td><b>Label Name</b></td>
            <td><b>Label #</b></td></td>
            <td><b>Mean Dice</b></td>
            <td><b>Mean Hausdorff (mm)</b></td>
            <td><b>Unfinished Templates</b></td>
        </tr>
        {% for label_stats in obs_stats %}
            <tr>
                <td>{{ label_stats.label_name }}</td>
                <td>{{ label_stats.label_no }}</td>
                <td>{{ label_stats.intra_dice_mean }}</td>
                <td>{{ label_stats.intra_haus_mean }}</td>
                <td>{{ label_stats.unfinished }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>

<footer>
    <p>Report generated by atlas_report.py on {{ report_time }}</p>
</footer>

</html>
